<div class="unscheduled-item">
    <div class="unscheduled-item-left">
        <span class="unscheduled-item-id">ID {{case.clientCaseId}}</span>
        <span class="unscheduled-item-name">{{case.firstName}} {{case.lastName}}</span>
        <span>{{case.weight}} kg | {{case.gender}} | {{case.containerType}}</span>
        <span>standard | Dev 2</span>
    </div>
    <div class="unscheduled-item-right">
        <button mat-icon-button aria-label="edit icon">
            <mat-icon class="unscheduled-item-button">open_in_new</mat-icon>
        </button>
    </div>
</div>