<mat-card class="calendar-card">

    <div class="card-header">
        <div class="header-left">
            <button mat-icon-button aria-label="navigate before" (click)="previousWeek()">
                <mat-icon class="navigation-button">navigate_before</mat-icon>
            </button>
            <button mat-icon-button aria-label="navigate next" (click)="nextWeek()">
                <mat-icon class="navigation-button">navigate_next</mat-icon>
            </button>
            <span *ngIf="calendarView == 'byDay'" class="card-header-text">{{"showingCasesFor" | translate}} <span class="date-bold">{{selectedDay | timepipe: true}}</span></span>
            <span *ngIf="calendarView == 'byWeek'" class="card-header-text">{{"week" | translate}} {{weekNumber}} | {{getFirstWeekDate()}} -
                {{getLastWeekDate()}}</span>
        </div>

        <div class="header-right">
            <button *ngIf="calendarView == 'byDay'" mat-button class="header-right-period-buttons" (click)="todayClick()">
                {{'today' | translate}}
            </button>
            <button mat-icon-button [matMenuTriggerFor]="calendarMenu" aria-label="pick date"
                #clickHoverMenuTrigger="matMenuTrigger">
                <mat-icon class="calendar-icon">calendar_month</mat-icon>
            </button>
            <mat-menu #calendarMenu="matMenu" xPosition="before">
                <mat-card class="inline-calendar-card" (click)="$event.stopPropagation();">
                    <mat-calendar #calendar [(selected)]="selectedDay"
                        (selectedChange)="daySelectedEvent($event)"></mat-calendar>
                </mat-card>
            </mat-menu>

            <div class="header-right-period-buttons">
                <button mat-button aria-label="pick date" [ngClass]="{'selected-button': this.calendarView == 'byDay'}"
                    (click)="switchCalendarView('byDay')">
                    {{"day" | translate}}
                </button>
                <button mat-button aria-label="pick date" [ngClass]="{'selected-button': this.calendarView == 'byWeek'}"
                    (click)="switchCalendarView('byWeek')">
                    {{"week" | translate}}
                </button>
            </div>
        </div>
    </div>

    <div class="card-header-filter">
        <span>
            <button mat-button color="{{wasIClicked('all')}}" (click)="onDeviceFilterClick('all')">{{"all" | translate}} ({{numberOfCases}})</button>
            <ng-container *ngFor="let device of devices">
                | <button mat-button color="{{wasIClicked(device.id)}}" (click)="onDeviceFilterClick(device.id)">{{device.alias}} ({{device.numberOfAttachedCases}})</button>
            </ng-container>
        </span>
    </div>

    <div class="card-content-list">
        <case-calendar-daily *ngIf="calendarView == 'byDay'" [days]="days"></case-calendar-daily>
        <case-calendar-weekly *ngIf="calendarView == 'byWeek'" [days]="days"></case-calendar-weekly>
    </div>
</mat-card>