<div class="weekly-container">

    <mat-card class="header-column-1 header-width day-name-header">
        <div>{{getDayForButton(0)}}</div>
    </mat-card>

    <mat-card class="header-column-2 header-width day-name-header">
        {{getDayForButton(1)}}
    </mat-card>

    <mat-card class="header-column-3 header-width day-name-header">
        {{getDayForButton(2)}}
    </mat-card>

    <mat-card class="header-column-4 header-width day-name-header">
        {{getDayForButton(3)}}
    </mat-card>

    <mat-card class="header-column-5 header-width day-name-header">
        {{getDayForButton(4)}}
    </mat-card>

    <mat-card class="header-column-6 header-width day-name-header">
        {{getDayForButton(5)}}
    </mat-card>

    <mat-card class="header-column-7 header-width day-name-header">
        {{getDayForButton(6)}}
    </mat-card>

    <mat-progress-bar *ngIf="loader" mode="indeterminate" class="indeterminate-progress-bar"></mat-progress-bar>

    <div class="weekly-list">
        <div class="weekly-list-1">
            <ng-container *ngFor="let case of casesForDay1">
                <div class="weekly-item" (click)="openCaseInfo(case)">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1" 
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">ID {{case.clientCaseId}}</div>
                        <div class="weekly-item-row-1-cell-2" 
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5 }">
                            <mat-icon>{{getIcon(case.facilityStatusId)}}</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">{{case.firstName}} {{case.lastName | truncate:15}}</div>
                    <div class="weekly-item-row-2">Weight: {{case.weight}}</div>
                    <div class="weekly-item-row-3"><span>{{case.scheduledDeviceAlias | truncate:12}}</span> <span>{{case.scheduledStartTime | timepipe: false : true}}</span></div>
                </div>
            </ng-container>
            <div class="weekly-item-skeleton" *ngIf="loader">
                <ngx-skeleton-loader [theme]="{height: '48px'}"></ngx-skeleton-loader>
            </div>
        </div>

        <div class="weekly-list-2">
            <ng-container *ngFor="let case of casesForDay2">
                <div class="weekly-item" (click)="openCaseInfo(case)">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1" 
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">ID {{case.clientCaseId}}</div>
                        <div class="weekly-item-row-1-cell-2" 
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">
                            <mat-icon>{{getIcon(case.facilityStatusId)}}</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">{{case.firstName}} {{case.lastName | truncate:15}}</div>
                    <div class="weekly-item-row-2">Weight: {{case.weight}}</div>
                    <div class="weekly-item-row-3"><span>{{case.scheduledDeviceAlias | truncate:12}}</span> <span>{{case.scheduledStartTime | timepipe: false : true}}</span></div>
                </div>
            </ng-container>
            <div class="weekly-item-skeleton" *ngIf="loader">
                <ngx-skeleton-loader [theme]="{height: '48px'}"></ngx-skeleton-loader>
            </div>
        </div>

        <div class="weekly-list-3">
            <ng-container *ngFor="let case of casesForDay3">
                <div class="weekly-item" (click)="openCaseInfo(case)">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1" 
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">ID {{case.clientCaseId}}</div>
                        <div class="weekly-item-row-1-cell-2"
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">
                            <mat-icon>{{getIcon(case.facilityStatusId)}}</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">{{case.firstName}} {{case.lastName | truncate:15}}</div>
                    <div class="weekly-item-row-2">Weight: {{case.weight}}</div>
                    <div class="weekly-item-row-3"><span>{{case.scheduledDeviceAlias | truncate:12}}</span> <span>{{case.scheduledStartTime | timepipe: false : true}}</span></div>
                </div>
            </ng-container>
            <div class="weekly-item-skeleton" *ngIf="loader">
                <ngx-skeleton-loader [theme]="{height: '48px'}"></ngx-skeleton-loader>
            </div>
        </div>

        <div class="weekly-list-4">
            <ng-container *ngFor="let case of casesForDay4">
                <div class="weekly-item" (click)="openCaseInfo(case)">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1"
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">ID {{case.clientCaseId}}</div>
                        <div class="weekly-item-row-1-cell-2"
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">
                            <mat-icon>{{getIcon(case.facilityStatusId)}}</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">{{case.firstName}} {{case.lastName | truncate:15}}</div>
                    <div class="weekly-item-row-2">Weight: {{case.weight}}</div>
                    <div class="weekly-item-row-3"><span>{{case.scheduledDeviceAlias | truncate:12}}</span> <span>{{case.scheduledStartTime | timepipe: false : true}}</span></div>
                </div>
            </ng-container>
            <div class="weekly-item-skeleton" *ngIf="loader">
                <ngx-skeleton-loader [theme]="{height: '48px'}"></ngx-skeleton-loader>
            </div>
        </div>

        <div class="weekly-list-5">
            <ng-container *ngFor="let case of casesForDay5">
                <div class="weekly-item" (click)="openCaseInfo(case)">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1"
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">ID {{case.clientCaseId}}</div>
                        <div class="weekly-item-row-1-cell-2"
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">
                            <mat-icon>{{getIcon(case.facilityStatusId)}}</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">{{case.firstName}} {{case.lastName | truncate:15}}</div>
                    <div class="weekly-item-row-2">Weight: {{case.weight}}</div>
                    <div class="weekly-item-row-3"><span>{{case.scheduledDeviceAlias | truncate:12}}</span> <span>{{case.scheduledStartTime | timepipe: false : true}}</span></div>
                </div>
            </ng-container>
            <div class="weekly-item-skeleton" *ngIf="loader">
                <ngx-skeleton-loader [theme]="{height: '48px'}"></ngx-skeleton-loader>
            </div>
        </div>

        <div class="weekly-list-6">
            <ng-container *ngFor="let case of casesForDay6">
                <div class="weekly-item" (click)="openCaseInfo(case)">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1" 
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">ID {{case.clientCaseId}}</div>
                        <div class="weekly-item-row-1-cell-2"
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">
                            <mat-icon>{{getIcon(case.facilityStatusId)}}</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">{{case.firstName}} {{case.lastName | truncate:15}}</div>
                    <div class="weekly-item-row-2">Weight: {{case.weight}}</div>
                    <div class="weekly-item-row-3"><span>{{case.scheduledDeviceAlias | truncate:12}}</span> <span>{{case.scheduledStartTime | timepipe: false : true}}</span></div>
                </div>
            </ng-container>
            <div class="weekly-item-skeleton" *ngIf="loader">
                <ngx-skeleton-loader [theme]="{height: '48px'}"></ngx-skeleton-loader>
            </div>
        </div>

        <div class="weekly-list-7">
            <ng-container *ngFor="let case of casesForDay7">
                <div class="weekly-item" (click)="openCaseInfo(case)">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1" 
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">ID {{case.clientCaseId}}</div>
                        <div class="weekly-item-row-1-cell-2"
                        [ngClass]="{'case-status-color-green': case.status == 1, 'case-status-color-red': case.status == 2, 'case-status-color-orange': case.status == 3, 'case-status-color-black': case.status == 4, 'case-status-color-blue': case.status == 5}">
                            <mat-icon>{{getIcon(case.facilityStatusId)}}</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">{{case.firstName}} {{case.lastName | truncate:15}}</div>
                    <div class="weekly-item-row-2">Weight: {{case.weight}}</div>
                    <div class="weekly-item-row-3"><span>{{case.scheduledDeviceAlias | truncate:12}}</span> <span>{{case.scheduledStartTime | timepipe: false : true}}</span></div>
                </div>
            </ng-container>
            <div class="weekly-item-skeleton" *ngIf="loader">
                <ngx-skeleton-loader [theme]="{height: '48px'}"></ngx-skeleton-loader>
            </div>
        </div>
    </div>

</div>