<div class="weekly-container">

    <mat-card class="header-column-1 header-width day-name-header">
        <div>{{getDayForButton(0)}}</div>
    </mat-card>

    <mat-card class="header-column-2 header-width day-name-header">
        {{getDayForButton(1)}}
    </mat-card>

    <mat-card class="header-column-3 header-width day-name-header">
        {{getDayForButton(2)}}
    </mat-card>

    <mat-card class="header-column-4 header-width day-name-header">
        {{getDayForButton(3)}}
    </mat-card>

    <mat-card class="header-column-5 header-width day-name-header">
        {{getDayForButton(4)}}
    </mat-card>

    <mat-card class="header-column-6 header-width day-name-header">
        {{getDayForButton(5)}}
    </mat-card>

    <mat-card class="header-column-7 header-width day-name-header">
        {{getDayForButton(6)}}
    </mat-card>

    <div class="weekly-list">
        <div class="weekly-list-1">
            <ng-container>
                <div class="weekly-item">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1">ID 834FGF3</div>
                        <div class="weekly-item-row-1-cell-2">
                            <mat-icon>check_circle</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">EKATERINA KOCSORWA KOCSORWA</div>
                </div>
            </ng-container>
        </div>

        <div class="weekly-list-2">
            <ng-container>
                <div class="weekly-item">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1">ID 834FGF3</div>
                        <div class="weekly-item-row-1-cell-2">
                            <mat-icon>check_circle</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">JOHN DOE</div>
                </div>
            </ng-container>
        </div>

        <div class="weekly-list-3">
            <ng-container>
                <div class="weekly-item">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1">ID 834FGF3</div>
                        <div class="weekly-item-row-1-cell-2">
                            <mat-icon>check_circle</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">JOHN DOE</div>
                </div>
            </ng-container>
        </div>

        <div class="weekly-list-4">
            <ng-container>
                <div class="weekly-item">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1 font-color-orange">ID 834FGF3</div>
                        <div class="weekly-item-row-1-cell-2 font-color-orange">
                            <mat-icon>hourglass_top</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">JOHN DOE</div>
                </div>
                <div class="weekly-item">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1 font-color-green">ID 834FGF3</div>
                        <div class="weekly-item-row-1-cell-2 font-color-green">
                            <mat-icon>check_circle</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">JOHN DOE</div>
                </div>
            </ng-container>
        </div>

        <div class="weekly-list-5">
            <ng-container>
                <div class="weekly-item">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1 font-color-blue">ID 834FGF3</div>
                        <div class="weekly-item-row-1-cell-2 font-color-blue">
                            <mat-icon>arrow_circle_right</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">JOHN DOE</div>
                </div>
            </ng-container>
        </div>

        <div class="weekly-list-6">
            <ng-container>
                <div class="weekly-item">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1">ID 834FGF3</div>
                        <div class="weekly-item-row-1-cell-2">
                            <mat-icon>check_circle</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">JOHN DOE</div>
                </div>
            </ng-container>
            <span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span>
            <span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span>
            <span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span>
            <span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span>
        </div>

        <div class="weekly-list-7">
            <ng-container>
                <div class="weekly-item">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1">ID 834FGF3</div>
                        <div class="weekly-item-row-1-cell-2">
                            <mat-icon>check_circle</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">JOHN DOE</div>
                </div>
                <div class="weekly-item">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1">ID 834FGF3</div>
                        <div class="weekly-item-row-1-cell-2">
                            <mat-icon>check_circle</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">JOHN DOE</div>
                </div>
                <div class="weekly-item">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1 font-color-red">ID 834FGF3</div>
                        <div class="weekly-item-row-1-cell-2 font-color-red">
                            <mat-icon>local_fire_department</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">JOHN DOE</div>
                </div>
                <div class="weekly-item">
                    <div class="weekly-item-row-1">
                        <div class="weekly-item-row-1-cell-1">ID 834FGF3</div>
                        <div class="weekly-item-row-1-cell-2">
                            <mat-icon>check_circle</mat-icon>
                        </div>
                    </div>
                    <div class="weekly-item-row-2">JOHN DOE</div>
                </div>
            </ng-container>
            <span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span>
            <span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span><span>fdfdff</span>


        </div>
    </div>

</div>