
matthews-app-backend/MatthewsApp.API/.vs/MatthewsApp.API/config/applicationhost.config
matthews-app-backend/MatthewsApp.API/.vs/MatthewsApp.API/DesignTimeBuild/.dtbcache.v2
matthews-app-backend/MatthewsApp.API/.vs/MatthewsApp.API/v16/.suo
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/appsettings.Development.json
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/appsettings.json
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Humanizer.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/MatthewsApp.API.deps.json
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/MatthewsApp.API.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/MatthewsApp.API.exe
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/MatthewsApp.API.pdb
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/MatthewsApp.API.runtimeconfig.dev.json
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/MatthewsApp.API.runtimeconfig.json
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/MatthewsApp.API.Views.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.Identity.Client.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Microsoft.OpenApi.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Newtonsoft.Json.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/ref/MatthewsApp.API.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/System.Runtime.Caching.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/MatthewsApp.API.csproj.user
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/apphost.exe
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.AssemblyInfo.cs
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.AssemblyInfoInputs.cache
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.assets.cache
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.csproj.CopyComplete
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.csproj.CoreCompileInputs.cache
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.csproj.FileListAbsolute.txt
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.GeneratedMSBuildEditorConfig.editorconfig
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.genruntimeconfig.cache
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.MvcApplicationPartsAssemblyInfo.cache
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.MvcApplicationPartsAssemblyInfo.cs
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.pdb
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.RazorTargetAssemblyInfo.cache
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/MatthewsApp.API.Views.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/ref/MatthewsApp.API.dll
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/staticwebassets/MatthewsApp.API.StaticWebAssets.Manifest.cache
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/net5.0/staticwebassets/MatthewsApp.API.StaticWebAssets.xml
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/netcoreapp3.1/MatthewsApp.API.AssemblyInfo.cs
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/netcoreapp3.1/MatthewsApp.API.AssemblyInfoInputs.cache
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/netcoreapp3.1/MatthewsApp.API.assets.cache
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/netcoreapp3.1/MatthewsApp.API.csproj.AssemblyReference.cache
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/netcoreapp3.1/MatthewsApp.API.csproj.FileListAbsolute.txt
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/Debug/netcoreapp3.1/MatthewsApp.API.GeneratedMSBuildEditorConfig.editorconfig
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/MatthewsApp.API.csproj.nuget.dgspec.json
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/MatthewsApp.API.csproj.nuget.g.props
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/MatthewsApp.API.csproj.nuget.g.targets
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/project.assets.json
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/obj/project.nuget.cache
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/Properties/serviceDependencies.local.json.user
matthews-app/android/.idea/misc.xml
matthews-app-backend/MatthewsApp.API/MatthewsApp.API/bin/
