<ion-header >
  <ion-toolbar color="primary">
    <ion-title *ngIf="!showSearchbar">Facility</ion-title>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" (ionCancel)="cancelSearch()" [(ngModel)]="searchTerm" placeholder="Search" animated></ion-searchbar>

    <ion-buttons slot="primary">
      <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<mat-stepper orientation="vertical" #stepper linear>
  <mat-step [completed]="isPreheatStarted" >
    <ng-container *ngIf="!isPreheatStarted" >
      <ng-template matStepLabel>Preheat System</ng-template>
      <ion-button expand="full" (click)="startPreheat()" color="secondary">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Start Preheat
      </ion-button>
    </ng-container>
    <ng-container *ngIf="isPreheatStarted" >
      <ion-card>
        <ion-item>
          <ion-label>Preheat in progress...</ion-label>
        </ion-item>
        <ion-card-content>
          <ion-label >
            <p> Prim. Chamber 435°C/850°C </p>
            <p> 2th. Chamber 435°C/950°C </p>
           </ion-label>
        </ion-card-content>
        <ion-card-content>
          Remaining 10 min
        </ion-card-content>
      </ion-card>

      <p><ng-template matStepLabel>Preheat System</ng-template>
      <ion-button expand="block" (click)="stopPreheat()" color="danger">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Stop Preheat
      </ion-button></p>
    </ng-container>
  </mat-step>

  <mat-step [completed]="isCaseSelected" >
    <ng-container *ngIf="!isCaseSelected">
      <ng-template matStepLabel>Case</ng-template>
      <ion-button expand="block" (click)="presentCasesModal()">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Select Case
      </ion-button>
    </ng-container>
    <ng-container *ngIf="selectedCase$ | async as selectedCase">
      <ng-template matStepLabel>Case</ng-template>
      <ion-text>{{selectedCase.caseName}}</ion-text>
      <p>
        <ion-button expand="block" *ngIf="isCaseSelected" (click)="changeCase()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          changeCase
        </ion-button>
      </p>
    </ng-container>
  </mat-step>

  <mat-step [completed]="isCycleStarted">
    <ng-container *ngIf="!isCycleStarted" >
      <ng-template matStepLabel>Start Cycle</ng-template>
     
      <ion-item>
          <ion-label>Burn Mode</ion-label>
        </ion-item>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button>
          <ion-label>Simplicity</ion-label>
        </ion-segment-button>
        <ion-segment-button>
          <ion-label>Eco</ion-label>
        </ion-segment-button>
        <ion-segment-button>
          <ion-label>Bariatric</ion-label>
        </ion-segment-button>
      </ion-segment>
      <p>
        <ion-button expand="block" (click)="startCycle()" color="secondary">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          Start Cycle
        </ion-button>
      </p>
    </ng-container>
    <ng-container *ngIf="isCycleStarted" >
      <ng-template matStepLabel>Start Cycle</ng-template>
      <ion-card>
        <ion-item>
          <ion-label>Cycle in progress...</ion-label>
        </ion-item>
        <ion-card-content>
          <ion-label >
            <p> Start Time: 01:40 </p>
            <p> Burn mode: Eco </p>
           </ion-label>
        </ion-card-content>
        <ion-card-content>
          Remaining 10 min
        </ion-card-content>
      </ion-card>

      <p>
        <ion-button expand="block" (click)="pauseCycle()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          Pause Cycle
        </ion-button>
        <ion-button expand="block" id="trigger-button" (click)="presentPopover('event$')" color="tertiary">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          Extend Cycle
        </ion-button>
        <ion-button expand="block" (click)="endCycle()" color="danger">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          End Cycle
        </ion-button>
      </p>
    </ng-container>
  </mat-step>
  <mat-step [completed]="isCoolDownStarted && isRakeOutStarted">
    <ng-container *ngIf="!isCoolDownStarted" >
      <ng-template matStepLabel>Complete Cycle</ng-template>
      <ion-button expand="block" (click)="coolDown()" color="tertiary">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Cool Down
      </ion-button>
      <ion-button expand="block" (click)="rakeOut()">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Rake Out
      </ion-button>
    </ng-container>
    <ng-container *ngIf="isCoolDownStarted && !isRakeOutStarted" >
      <ng-template matStepLabel>Complete Cycle</ng-template>
      <ion-card>
        <ion-item>
          <ion-label>Cooling in progress...</ion-label>
        </ion-item>
        <ion-card-content>
          <ion-label >
            <p> Prim. Chamber 435°C/850°C </p>
            <p> 2th. Chamber 435°C/950°C </p>
           </ion-label>
        </ion-card-content>
        <ion-card-content>
          Remaining 10 min
        </ion-card-content>
      </ion-card>
      <p>
        <ion-button expand="block" (click)="rakeOut()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          Rake Out
        </ion-button>
      </p>
    </ng-container>
    <ng-container *ngIf="isCoolDownStarted && isRakeOutStarted">
      <ng-template matStepLabel>Complete Cycle</ng-template>
      <ion-card>
        <ion-item>
          <ion-label>Cooled down</ion-label>
        </ion-item>
        <ion-card-content>
          Elasped time: 10 min
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Rake out in progress...</ion-label>
        </ion-item>
      </ion-card>
      <p>
        <ion-button expand="block" (click)="presentAlert(stepper)" color="secondary">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          Confirm rake out is finished.
        </ion-button>
      </p>
    </ng-container>
  </mat-step>
</mat-stepper>
</ion-content>
