

.header-content{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #5b6771;
    margin-right: 14px;
  }
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px; /* Adjust padding as needed */
}

.label {
  margin-right: 16px; /* Adjust margin as needed */
}
