

.header-content{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  img {
    height: 60px;
    margin-right: 14px;
  }
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px; /* Adjust padding as needed */
}

.label {
  margin-right: 16px; /* Adjust margin as needed */
}

ion-menu::part(content) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ion-content.menu-content {
  --padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings {
  margin-top: auto;
}

.reset-demo {
  margin: 0 0 16px 0;
}

