<ion-app >
  <ion-menu side="end" menuId="main-menu" contentId="main">
    <ion-content *ngIf="userInfo$ | async as userInfo">
      <div class="header-content">
        <img src={{userInfo.photoBase64}} alt=""/>
        <ion-label>
          <h2>{{userInfo.firstName}} {{userInfo.lastName}}</h2>
          <p>{{userInfo.email}}</p>
        </ion-label>
      </div>

      <ion-list class="menu-items" *ngFor="let pages of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
              {{pages.title | translate}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-item button (click)="resetDemo()">
        <ion-icon name="sync-outline" slot="start"></ion-icon>
          Reset demo
      </ion-item>
    </ion-content>
    <ion-content>
      <div>
        <ion-item>
          <ion-label translate>Language</ion-label>
          <ion-select [(ngModel)]='language' (ionChange)='languageChange()'>
            <ion-select-option value='en'>English</ion-select-option>
            <ion-select-option value='de'>German</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div>
        <ion-item>
          <ion-label translate>Dark Theme</ion-label>
            <ion-toggle class="toggle" [(ngModel)]="darkModeSliderValue" (ionChange)="toggleTheme($event)"></ion-toggle>
        </ion-item>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet Id="main"></ion-router-outlet>
</ion-app>
