<ion-header>
  <ion-toolbar>
    <ion-title>{{'ExtendCycleTime' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectedDevice$ | async as selectedDevice">
  <ion-item lines="full">
    <ion-button (click)="decreseTimeInterval()" class="ion-btn-size">-</ion-button>
    <ion-item lines="full">
      <ion-label position="floating">{{'ExtraTime' | translate}}</ion-label>
      <ion-input type="number" [(ngModel)]="extraTimeInterval" min="1" max="9"></ion-input>
    </ion-item>
    <ion-button (click)="increseTimeInterval()" class="ion-btn-size">+</ion-button>
  </ion-item>
  <ion-item lines="full" class="ion-item-flex">
    <ion-button (click)="increseForTenMinutes()" >+10</ion-button>
    <ion-button (click)="increseForFifteenMinutes()">+15</ion-button>
    <ion-button (click)="increseForThirtyMinutes()">+30</ion-button>
  </ion-item>
  <ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="onConfirm(selectedDevice)">{{'Confirm' | translate}}</ion-button>
      <ion-button (click)="onCancel()">{{'Cancel' | translate}}</ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="onConfirm()">Confirm</ion-button>
    <ion-button (click)="onCancel()">Cancel</ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-footer> -->
