<div class="container">

  <div class="header-left matthews-theme">
    <mat-toolbar color="primary">
      <img alt="logo" src="assets/Matthews Environmental Updated logo.png" class="logo" />
      <span class="spacer"></span>

      <div class="toolbar-buttons">
        <button mat-raised-button class="btn-color-green padding-left" [routerLink]="['/case']">
          <mat-icon>add_circle</mat-icon>
          {{"addCase" | translate}}
        </button>
  
        <button mat-raised-button class="btn-color-green padding-left" [routerLink]="['/facility']">
          <mat-icon>other_houses</mat-icon>
          {{"facilityStatuses" | translate}}
        </button>
      </div>
      
    </mat-toolbar>
  </div>

  <div class="header-right matthews-theme">
    <mat-toolbar color="primary" class="toolbar-right">

      <mat-form-field appearance="outline" class="facility-selector">
        <mat-label>{{"selectedFacility" | translate}}</mat-label>
        <mat-select [(ngModel)]="selectedFacilityId" (selectionChange)="facilityChanged($event)">
          <mat-option *ngFor="let facility of facilities" [value]="facility.id">
            {{facility.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-mini-fab [matMenuTriggerFor]="userMenu" class="btn-color-green" aria-label="User account">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <div class="menu-item-username">{{loggedInUser?.given_name}}</div>
        <div class="menu-item-username manu-item-email">{{loggedInUser?.name}}</div>
        <button mat-menu-item (click)="openProfileDialog()">
          <mat-icon>person</mat-icon>
          <span>{{"profileSetting" | translate}}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>{{"logout" | translate}}</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="right-sidebar">
    <mat-card class="card-right-sidebar">
      <mat-card-header class="card-right-sidebar-title">
        <span class="right-sidebar-header-title">{{"unscheduledCases" | translate}}</span>
        <div class="card-header-filter">
          <button mat-button color="{{wasIClicked('all')}}" (click)="onFacilityFilterClick('all')" class="modified-button">{{'allCases' | translate}}</button>
          <button mat-button color="{{wasIClicked('bySelectedFacility')}}" (click)="onFacilityFilterClick('bySelectedFacility')" class="modified-button">{{'selectedFacilityOnly' | translate}}</button>
        </div>
        <mat-progress-bar *ngIf="loader" mode="indeterminate" class="indeterminate-progress-bar"></mat-progress-bar>
      </mat-card-header>
      <mat-card-content class="card-right-sidebar-list">
        <ng-container *ngFor="let case of filteredUnscheduledCases">
          <unscheduled-cases [case]="case"></unscheduled-cases>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>

</div>