.addButton {
    border-radius: "100%";
    color: red;
    width: 32;
}

ion-item {  //Html element that has defined the 'ion-long-press' attribute
      // I needed this to make my element touchable
    touch-action: pan-y !important;
  }