<ion-header >
  <ion-toolbar color="secondary">  
    <ion-title *ngIf="!showSearchbar">Schedule</ion-title>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" (ionCancel)="cancelSearch()" [(ngModel)]="searchTerm" placeholder="Search" animated></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-content>
  <ion-list>
    <!-- (casesNew | async) | filter:searchTerm" -->
    <ion-item-sliding *ngFor="let case of cases | filter:searchTerm">
      <ion-item-options side="end">
        <ion-buttons slot="primary">
          <ion-button (click)="deleteCase(case.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item-options>
      <ion-item detail='true' [routerLink]="['/case', case.id]">
        <ion-label>
          <h3>{{case.caseId}}</h3>
          <p>
            {{case.caseName}} &mdash; Status: {{case.status}}
          </p>
        </ion-label>
      </ion-item>
  </ion-item-sliding>
  </ion-list>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" routerLink="/case">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

