ion-item {
    touch-action: pan-y !important;
    --detail-icon-color: #5b6771;//#c6d92d;
    --border-color: #5b6771;//#c6d92d;
  }

 ion-fab {
   margin-bottom: 90px;
   margin-right: 10px;
 }

//  ion-searchbar {
//    width: 120px;
//  }
