ion-item {
    touch-action: pan-y !important;
    --detail-icon-color: #5b6771;//#c6d92d;
    --border-color: #5b6771;//#c6d92d;
  }

 ion-fab {
   margin-bottom: 90px;
   margin-right: 10px;
 }

 scheduled-date-missing {
  font-style: italic !important;
 }

.transparent-button {
  --background: transparent;  /* Make the button transparent */
  --border-color: transparent;  /* Remove border */
  --padding-start: 0;
  --padding-end: 0;
  width: 100%;  /* Make the buttons fill the available width */
  text-align: center;  /* Center text inside the button */
  height: 3em;
  --color: #29C0F1;
}

.selected {
  --background: transparent;  /* Highlighted background for selected button */
  --border-color: transparent;  /* Remove border */
  --padding-start: 0;
  --padding-end: 0;
  width: 100%;  /* Make the buttons fill the available width */
  text-align: center;  /* Center text inside the button */
  height: 3em;        /* Change the text color when selected */
  text-decoration: underline;
  font-weight: bold;
  --color: #29C0F1;
}

.chevron-button {
  --background: transparent;  /* Highlighted background for selected button */
  --border-color: transparent;  /* Remove border */
  --padding-start: 0;
  --padding-end: 0; 
  color: #29C0F1;
  flex-shrink: 0;
}

.chevron-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%; /* Distribute space between the buttons */
  padding: 0;  /* Remove padding if necessary */
  margin: 0; 
}

.text-container {
  display: flex;
  flex-direction: column;  /* Stack the paragraphs vertically */
  text-align: center;  /* Center the text */
  flex-grow: 1;
}

.blue-text {
  margin: 0;  /* Remove default margin for better alignment */
  padding: 0;
  color: #29C0F1;
  font-weight: bold;
}

.name-text {
  font-size: large;
}

.blue-text {
  color: #29C0F1;
}
