<ion-header >
  <ion-toolbar color="primary">
    <ion-title *ngIf="!showSearchbar">{{'Schedule' | translate}}</ion-title>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" (ionCancel)="cancelSearch()" [(ngModel)]="searchTerm" placeholder="Search" animated></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="presentModal()" *ngIf="!showSearchbar">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-searchbar  showCancelButton="never" (ionCancel)="cancelSearch()" [(ngModel)]="searchTerm" placeholder="Search" animated></ion-searchbar> -->
</ion-header>

<ion-content *ngIf="scheduleVm$ | async as scheduleVm">
  <ng-container *ngIf="scheduleVm.cases">
    <ion-item lines="full">
      <ion-label>{{'SelectFacility' | translate}}:</ion-label>
      <ion-select [interfaceOptions]="{cssClass:'custom-popover'}" value="{{ defaultFacilityId }}" interface="popover" placeholder="Select One" name="containerType" (ionChange)="selectedFacilityChanged($event)">
        <ion-select-option *ngFor="let facility of scheduleVm.facilities;" value="{{ facility.id }}">{{ facility.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <p></p>
    <ion-list>
      <ion-item-sliding *ngFor="let case of scheduleVm.cases | filter:searchTerm">
        <ion-item-options side="end">
          <ion-buttons slot="primary">
            <ion-button (click)="deleteCase(case)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item-options>
        <ion-item detail='true' (click)="presentModal(case)">
          <!-- [routerLink]="['/case', case.id]" -->
          <ion-label>
            <h3>{{case.caseId}}</h3>
            <p>
              {{case.caseName}} &mdash; {{'Status' | translate}}: {{caseStatus[case.status] | translate}}
            </p>
            <p>{{'Selected Device' | translate}}: {{case.selectedDeviceAlias}}</p>
            <p>{{'Schedule Date' | translate}}: {{case.createdTime}}</p>
          </ion-label>
        </ion-item>
    </ion-item-sliding>
    </ion-list>
  </ng-container>
</ion-content>

