<mat-card class="add-edit-card">
    <form [formGroup]="caseForm" (keydown.enter)="preventFormSubmit($event)" (ngSubmit)="save()">
        <mat-toolbar class="add-edit-toolbar">
            <span>{{title | translate}}</span>
            <span class="spacer"></span>
            <button type="button" mat-raised-button class="deleteButton" (click)="openDeleteCaseDialog('0ms', '0ms')" *ngIf="deleteCaseButton">
                <mat-icon>delete_forever</mat-icon>
                {{"deleteCase" | translate}}
              </button>
            <button mat-raised-button class="add-edit-header-buttons" routerLink="/">
                <mat-icon class="material-symbols-outlined">cancel</mat-icon>
                {{"cancel" | translate}}
            </button>
            <button mat-raised-button [disabled]="!caseForm.valid" class="add-edit-header-buttons"
                type="submit">
                <mat-icon class="material-symbols-outlined">check_circle</mat-icon>
                {{"save" | translate}}
            </button>
        </mat-toolbar>

        <mat-progress-bar *ngIf="loader" mode="indeterminate" class="indeterminate-progress-bar"></mat-progress-bar>

        <div class="card-content" *ngIf="!loader">
            
            <div class="left-column">
                <mat-error
                    *ngIf="caseForm.get('clientCaseId')?.invalid && (caseForm.get('clientCaseId')?.dirty || caseForm.get('clientCaseId')?.touched)">
                    <span *ngIf="caseForm.get('clientCaseId')?.errors?.['required']">
                        Case id is required.
                    </span>
                </mat-error>
                <mat-form-field class="example-full-width">
                    <mat-label>{{"caseId" | translate}}</mat-label>
                    <input formControlName="clientCaseId" matInput placeholder="Enter case id" value="" (blur)="trimInput('clientCaseId')">
                </mat-form-field>


                <mat-error
                    *ngIf="caseForm.get('firstName')?.invalid && (caseForm.get('firstName')?.dirty || caseForm.get('firstName')?.touched)">
                    <span *ngIf="caseForm.get('firstName')?.errors?.['required']">
                        First name is required.
                    </span>
                    <span *ngIf="caseForm.get('firstName')?.errors?.['minlength']">
                        Name must be at least 4 characters long.
                    </span>
                    <span *ngIf="caseForm.get('firstName')?.errors?.['forbiddenName']">
                        Name cannot be Bob.
                    </span>
                </mat-error>
                <mat-form-field class="example-full-width">
                    <mat-label>{{"firstName" | translate}}</mat-label>
                    <input formControlName="firstName" matInput placeholder="Enter first name" value="" id="firstName" maxlength="16" (blur)="trimInput('firstName')">
                </mat-form-field>


                <mat-error
                    *ngIf="caseForm.get('lastName')?.invalid && (caseForm.get('lastName')?.dirty || caseForm.get('lastName')?.touched)">
                    <span *ngIf="caseForm.get('lastName')?.errors?.['required']">
                        Last name is required.
                    </span>
                </mat-error>
                <mat-form-field class="example-full-width">
                    <mat-label>{{"lastName" | translate}}</mat-label>
                    <input formControlName="lastName" matInput placeholder="Enter last name" value="" maxlength="16" (blur)="trimInput('lastName')">
                </mat-form-field>


                <mat-error
                    *ngIf="caseForm.get('weight')?.invalid && (caseForm.get('weight')?.dirty || caseForm.get('weight')?.touched)">
                    <span *ngIf="caseForm.get('weight')?.errors?.['required']">
                        Weight is required.
                    </span>
                </mat-error>
                <mat-form-field class="example-full-width">
                    <mat-label>{{"weight" | translate}}</mat-label>
                    <input formControlName="weight" matInput placeholder="Enter case weight" value="" type="number">
                </mat-form-field>


                <mat-error
                    *ngIf="caseForm.get('gender')?.invalid && (caseForm.get('gender')?.dirty || caseForm.get('gender')?.touched)">
                    <span *ngIf="caseForm.get('gender')?.errors?.['required']">
                        Gender is required.
                    </span>
                </mat-error>
                <section class="toggle-button-container">
                    <mat-label class="toggle-button-label">
                        {{"gender" | translate}} <span class="required-asterisk">*</span>
                      </mat-label>
                    <mat-button-toggle-group formControlName="gender" aria-label="Font Style">
                        <mat-button-toggle value="0" (keyup.enter)="handleKeyPress($event, toggle)" #toggle>
                            {{"male" | translate}}
                        </mat-button-toggle>
                        <mat-button-toggle value="1" (keyup.enter)="handleKeyPress($event, toggle2)" #toggle2>
                            {{"female" | translate}}
                        </mat-button-toggle>
                        <mat-button-toggle value="2" (keyup.enter)="handleKeyPress($event, toggle3)" #toggle3>
                            {{"other" | translate}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </section>
            </div>



            <div class="middle-column">
                
                <mat-error
                    *ngIf="caseForm.get('age')?.invalid && (caseForm.get('age')?.dirty || caseForm.get('age')?.touched)">
                    <span *ngIf="caseForm.get('age')?.errors?.['required']">
                        Age is required.
                    </span>
                </mat-error>
                <mat-form-field class="example-full-width">
                    <mat-label>{{"age" | translate}}</mat-label>
                    <input formControlName="age" matInput placeholder="Enter case age" value="" type="number">
                </mat-form-field>

                <mat-error
                    *ngIf="caseForm.get('facility')?.invalid && (caseForm.get('facility')?.dirty || caseForm.get('facility')?.touched)">
                    <span *ngIf="caseForm.get('facility')?.errors?.['required']">
                        Facility is required.
                    </span>
                </mat-error>
                <mat-form-field appearance="fill">
                    <mat-label>{{"facility" | translate}}</mat-label>
                    <mat-select formControlName="facility" (selectionChange)="facilityChanged($event)">
                        <mat-option *ngFor="let facility of facilities" [value]="facility.id">
                            {{facility.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{"cremator" | translate}}</mat-label>
                    <mat-select formControlName="scheduledDevice">
                        <mat-option *ngFor="let cremator of cremators" [value]="cremator.id">
                            {{cremator.alias}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-error
                    *ngIf="caseForm.get('containerType')?.invalid && (caseForm.get('containerType')?.dirty || caseForm.get('containerType')?.touched)">
                    <span *ngIf="caseForm.get('containerType')?.errors?.['required']">
                        Container type is required.
                    </span>
                </mat-error>
                <mat-form-field appearance="fill">
                    <mat-label>{{"containerType" | translate}}</mat-label>
                    <mat-select formControlName="containerType">
                        <mat-option *ngFor="let container of containerTypes" [value]="container.id">
                            {{container.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-error
                    *ngIf="caseForm.get('containerSize')?.invalid && (caseForm.get('containerSize')?.dirty || caseForm.get('containerSize')?.touched)">
                    <span *ngIf="caseForm.get('containerSize')?.errors?.['required']">
                        Container size is required.
                    </span>
                </mat-error> -->
                <!-- <mat-form-field appearance="fill">
                    <mat-label>{{"loadSize" | translate}}</mat-label>
                    <mat-select formControlName="containerSize">
                        <mat-option *ngFor="let loadSize of containerSizes" [value]="loadSize.id">
                            {{loadSize.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <section class="schedule-start-time-container">
                    <mat-label class="toggle-button-label">{{"scheduledStartTime" | translate}}</mat-label>
                    <div class="schedule-start-time-right-column">
                        <mat-form-field>
                            <mat-label>{{type | translate}}</mat-label>
                            <mtx-datetimepicker #datetimePicker [type]="type" [mode]="mode"
                                [multiYearSelector]="multiYearSelector" [startView]="startView"
                                [twelvehour]="twelvehour" [timeInterval]="timeInterval" [touchUi]="touchUi"
                                [timeInput]="timeInput"></mtx-datetimepicker>
                            <input [mtxDatetimepicker]="datetimePicker" formControlName="scheduledStartDateTime" matInput>
                            <mtx-datetimepicker-toggle [for]="datetimePicker" matSuffix></mtx-datetimepicker-toggle>
                        </mat-form-field>
                    </div>
                </section>
            </div>

            <div class="right-column">
                <mat-form-field appearance="fill">
                    <mat-label>{{"caseStatus" | translate}}</mat-label>
                    <mat-select formControlName="facilityStatus">
                        <mat-option *ngFor="let facilityStatus of facilityStatuses" [value]="facilityStatus.id">
                            {{facilityStatus.statusName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Physical ID</mat-label>
                    <input formControlName="physicalId" matInput placeholder="Enter physical ID" value="">
                </mat-form-field>

            </div>

        </div>
    </form>
</mat-card>