<mat-card class="add-edit-card">
    <form [formGroup]="caseForm" (ngSubmit)="save()">
        <mat-toolbar class="add-edit-toolbar">
            <span>{{title | translate}}</span>
            <span class="spacer"></span>
            <button mat-raised-button class="add-edit-header-buttons btn-cancel" routerLink="/">
                <mat-icon class="material-symbols-outlined">cancel</mat-icon>
                {{"cancel" | translate}}
            </button>
            <button mat-raised-button [disabled]="!caseForm.valid" class="add-edit-header-buttons btn-save"
                type="submit">
                <mat-icon class="material-symbols-outlined">check_circle</mat-icon>
                {{"save" | translate}}
            </button>
        </mat-toolbar>


        <div class="card-content">

            <div class="left-column">
                <mat-form-field class="example-full-width">
                    <mat-label>{{"caseId" | translate}}</mat-label>
                    <input formControlName="clientCaseId" matInput placeholder="Enter case id" value="">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>{{"firstName" | translate}}</mat-label>
                    <input formControlName="firstName" matInput placeholder="Enter first name" value="">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>{{"lastName" | translate}}</mat-label>
                    <input formControlName="lastName" matInput placeholder="Enter last name" value="">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>{{"weight" | translate}}</mat-label>
                    <input formControlName="weight" matInput placeholder="Enter case weight" value="">
                </mat-form-field>

                <section class="toggle-button-container">
                    <p class="toggle-button-label">{{"gender" | translate}}</p>
                    <mat-button-toggle-group formControlName="gender" aria-label="Font Style">
                        <mat-button-toggle value=1>{{"male" | translate}}</mat-button-toggle>
                        <mat-button-toggle value=2>{{"female" | translate}}</mat-button-toggle>
                        <mat-button-toggle value=0>{{"other" | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </section>

                <mat-form-field class="example-full-width">
                    <mat-label>{{"age" | translate}}</mat-label>
                    <input formControlName="age" matInput placeholder="Enter case age" value="">
                </mat-form-field>
            </div>
            <div class="right-column">
                <mat-form-field appearance="fill">
                    <mat-label>{{"containerType" | translate}}</mat-label>
                    <mat-select formControlName="containerType">
                        <mat-option *ngFor="let container of containerTypes" [value]="container.id">
                            {{container.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{"loadSize" | translate}}</mat-label>
                    <mat-select formControlName="containerSize">
                        <mat-option *ngFor="let loadSize of containerSizes" [value]="loadSize.id">
                            {{loadSize.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{"caseStatus" | translate}}</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let caseStatus of caseStatuses" [value]="caseStatus.id">
                            {{caseStatus.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>{{"cremator" | translate}}</mat-label>
                    <mat-select formControlName="scheduledCremator">
                        <mat-option *ngFor="let cremator of cremators" [value]="cremator.id">
                            {{cremator.alias}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <section class="toggle-button-container">
                    <p class="toggle-button-label">{{"burnMode" | translate}}</p>
                    <mat-button-toggle-group formControlName="burnMode" aria-label="Font Style">
                        <mat-button-toggle value="simple">{{"simple" | translate}}</mat-button-toggle>
                        <mat-button-toggle value="eco">{{"eco" | translate}}</mat-button-toggle>
                        <mat-button-toggle value="production">{{"production" | translate}}</mat-button-toggle>
                    </mat-button-toggle-group>
                </section>

                <section class="schedule-start-time-container">
                    <p class="toggle-button-label">{{"scheduledStartTime" | translate}}</p>
                    <div class="schedule-start-time-right-column">
                        <mat-form-field>
                            <mat-label>{{type | translate}}</mat-label>
                            <mtx-datetimepicker #datetimePicker [type]="type" [mode]="mode"
                                [multiYearSelector]="multiYearSelector" [startView]="startView"
                                [twelvehour]="twelvehour" [timeInterval]="timeInterval" [touchUi]="touchUi"
                                [timeInput]="timeInput"></mtx-datetimepicker>
                            <input [mtxDatetimepicker]="datetimePicker" formControlName="scheduledStartDateTime"
                                matInput required>
                            <mtx-datetimepicker-toggle [for]="datetimePicker" matSuffix></mtx-datetimepicker-toggle>
                        </mat-form-field>
                    </div>
                </section>
            </div>

        </div>
    </form>
</mat-card>