<ion-header >
  <ion-toolbar color="secondary" *ngIf="facility$ | async as facility">
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!showSearchbar">{{facility.name}}</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" (ionCancel)="cancelSearch()" [(ngModel)]="searchTerm" placeholder="Search" animated></ion-searchbar>
    
    <ion-buttons slot="primary">
      <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-item-divider>
  <ion-label>
    Cremators
  </ion-label>
</ion-item-divider>

<ion-content *ngIf="facility$ | async as facility">
  <ion-card *ngFor="let device of facility.devices" [routerLink]="['/device', device.deviceId]">
    <ion-item>
      <ion-icon name="flame-outline"></ion-icon>
      <ion-card-header>
        <ion-card-title>{{device.name}}</ion-card-title>
        <ion-card-subtitle>Secondary text</ion-card-subtitle>
      </ion-card-header>
      <ion-icon name="information" slot="end"></ion-icon>
    </ion-item>
    <ion-card-content>
      Secondary text
    </ion-card-content>
  </ion-card>
</ion-content>