<ion-header >
  <!-- *ngIf="facility$ | async as facility" -->
  <ion-toolbar color="primary" >
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-back-button (click)="stopSignalRConnection()"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="selectedFacility$ | async as selectedFacility">{{selectedFacility.name}}</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" (ionCancel)="cancelSearch()" [(ngModel)]="searchTerm" placeholder="Search" animated></ion-searchbar>

    <ion-buttons slot="primary">
      <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-item-divider>
  <ion-label>
    <h2>{{'AvailableEquipments' | translate}}</h2>
  </ion-label>
</ion-item-divider>

<ion-content *ngIf="deviceListVm$ | async as deviceListVm">
  <ng-container *ngIf="deviceListVm.deviceList">
    <ion-card *ngFor="let device of deviceListVm.deviceList"  (click)="updateSelectedCremator(device.id)">
      <ion-item>
        <ion-icon name="flame-outline"></ion-icon>
        <ion-card-header>
          <ion-card-title>{{device.alias ?? device.name}}</ion-card-title>
          <ng-container *ngFor="let signal of device.signals">
            <ion-card-subtitle  *ngIf="signal.name === 'Machine_Status'">{{machineStatus[signal.value] | translate}}</ion-card-subtitle>
          </ng-container>
        </ion-card-header>
        <ion-icon name="information" slot="end" (click)="navigateToDetailsPage($event, device.id, device.name)"></ion-icon> <!--[routerLink]="['/app/tabs/facility/device', device.id, 'device-details']"-->
      </ion-item>
    </ion-card>
  </ng-container>
</ion-content>
