<ion-header >
  <ion-toolbar color="primary">
    <ion-title *ngIf="!showSearchbar">{{'Cases' | translate}}</ion-title>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" (ionCancel)="cancelSearch()" [(ngModel)]="searchTerm" placeholder="Search" animated></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail='true' *ngFor="let case of (deviceCases$ | async) | filter:searchTerm" (click)="getSelectedCase(case)">
      <ion-label>
        <h3>{{case.caseId}}</h3>
        <p>
          {{case.caseName}} &mdash; {{'Status' | translate}}: {{caseStatuses[case.status] | translate}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

