<div class="container matthews-theme">
    <div class="toolbar">
        <mat-toolbar color="primary">
            <img alt="logo" src="assets/Matthews Environmental Updated logo.png" class="logo" />
            <span class="spacer"></span>
        </mat-toolbar>
    </div>
    <div class="content">
        <mat-card class="welcome-card">
            <img alt="logo" src="assets/Flame_logo.png" class="logo" />
            <span class="card-title">Matthews Case Management</span>
            <span class="card-version">v. 2.19</span>
            <div class="btn-holder" (click)="startLoggin()">
                <button mat-raised-button class="card-sign-on-btn btn-color-green">Authorize</button>
            </div>
        </mat-card>
    </div>
</div>