<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup]="statusForm">
    <div mat-dialog-content class="dialog-content">

        <mat-error
            *ngIf="statusForm.get('statusCode')?.invalid && (statusForm.get('statusCode')?.dirty || statusForm.get('statusCode')?.touched)">
            <span *ngIf="statusForm.get('statusCode')?.errors?.['required']">
                Status Code is required.
            </span>
        </mat-error>
        <mat-form-field>
            <mat-label>{{"statusCode" | translate}}</mat-label>
            <input formControlName="statusCode" matInput placeholder="{{'enterStatusCode' | translate}}" value="">
            <mat-hint align="start">{{'mustBeNumericValue' | translate}}</mat-hint>
        </mat-form-field>

        <mat-error
            *ngIf="statusForm.get('statusName')?.invalid && (statusForm.get('statusName')?.dirty || statusForm.get('statusName')?.touched)">
            <span *ngIf="statusForm.get('statusName')?.errors?.['required']">
                Status Name is required.
            </span>
        </mat-error>
        <mat-form-field>
            <mat-label>{{"statusName" | translate}}</mat-label>
            <input formControlName="statusName" matInput placeholder="{{'enterStatusName' | translate}}" value="">
        </mat-form-field>

        <mat-error
            *ngIf="statusForm.get('statusIcon')?.invalid && (statusForm.get('statusIcon')?.dirty || statusForm.get('statusIcon')?.touched)">
            <span *ngIf="statusForm.get('statusIcon')?.errors?.['required']">
                Icon is required.
            </span>
        </mat-error>
        <div class="field-icon-button">
            <mat-form-field class="full-width">
                <mat-icon>{{data.statusIcon}}</mat-icon>
                <mat-label>{{"statusIcon" | translate}}</mat-label>
                <input formControlName="statusIcon" matInput placeholder="{{'enterStatusIcon' | translate}}" value="" hidden>
            </mat-form-field>
        </div>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>{{'pickIcon' | translate}}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="icons-container">
                <ng-container *ngFor="let ico of icons">
                    <div class="icon" (click)="onIconClick(ico.key)">
                        <div class="icon-icon">
                            <mat-icon>{{ico.key}}</mat-icon>
                        </div>
                        <span>{{ico.name}}</span>
                    </div>
                </ng-container>
            </div>
        </mat-expansion-panel>

        <!-- <div class="toggle-button">
            <mat-slide-toggle formControlName="startProcess">{{'startProcess' | translate}}</mat-slide-toggle>
        </div> -->
        
        <mat-form-field appearance="fill">
            <mat-label>{{"facility" | translate}}</mat-label>
            <mat-select formControlName="generalCaseStatus" (selectionChange)="caseStatusChanged($event)">
                <mat-option *ngFor="let stat of generalCaseStatuses" [value]="stat.value">
                    {{translateGeneralStatus(stat.name)}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
</form>

<div mat-dialog-actions>
    <button mat-button (click)="save()" cdkFocusInitial [disabled]="!statusForm.valid">{{'save' | translate}}</button>
    <button mat-button (click)="onNoClick()">{{'cancel' | translate}}</button>
</div>