.imageSize {
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  height: 65%;
  width: 65%;
}

.buttonSize {
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.title {
  margin-top: 50px;
  text-align: center;
}

p {
  font-size: 20px;
  //text-align: center; /* Adjust the font size as needed */
}

.custom-color {
  color: #323643;
}