<ion-content>
  <div>
    <ion-img class="imageSize" src="assets/images/Matthews_logo.png"></ion-img>
  </div>
  <div class="title">
    <p class="custom-color">Mpyre® 3</p>
    <p class="custom-color">Mobile Cremator Management</p>
    <div>v. 1.14</div>
  </div>
  <ion-button class="buttonSize" color="secondary" expand="block" shape="rounded"
    (click)="signIn()">Authorize</ion-button>
  <!-- <div class=center>

  </div> -->



</ion-content>

<!-- <ion-footer> -->
<!-- <ion-toolbar> -->

<!-- </ion-toolbar> -->
<!-- </ion-footer> -->