<h1 mat-dialog-title>{{data.username}} {{'profileSetting' | translate}}</h1>
<div mat-dialog-content class="dialog-content">

    <div class="dialog-content-field">
        <mat-label>{{'firstDayInWeek' | translate}}:</mat-label>
        <mat-radio-group aria-label="Select a first day in week" [(ngModel)]="data.startDayOfWeek" [value]="data.startDayOfWeek">
            <mat-radio-button value="0">{{'sunday' | translate}}</mat-radio-button>
            <mat-radio-button value="1">{{'monday' | translate}}</mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="dialog-content-field">
        <mat-label>{{'timeformat' | translate}}:</mat-label>
        <mat-radio-group aria-label="Select a time format" [(ngModel)]="data.timeformat" [value]="data.timeformat">
            <mat-radio-button value="12">12 {{'hours' | translate}}</mat-radio-button>
            <mat-radio-button value="24">24 {{'hours' | translate}}</mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="dialog-content-field">
        <mat-form-field appearance="fill">
            <mat-label>{{'timezone' | translate}}</mat-label>
            <mat-select [(ngModel)]="data.timezone">
                <mat-option *ngFor="let tz of timezones" [value]="tz">
                    {{tz}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="dialog-content-field">
        <mat-form-field appearance="fill">
            <mat-label>{{'language' | translate}}</mat-label>
            <mat-select [(ngModel)]="data.language">
                <mat-option *ngFor="let language of languages" [value]="language.id">
                    {{language.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{'save' | translate}}</button>
    <button mat-button (click)="onNoClick()">{{"cancel" | translate}}</button>
</div>