<h1 mat-dialog-title>{{data.firstName}} {{data.lastName}}</h1>
<div mat-dialog-content class="dialog-content">
    <div class="dialog-content-field">
        <mat-label for="">{{'caseStatus' | translate}}</mat-label>:
        <div class="field-value">
            <ng-container *ngIf="(getStatusDescription(+data.status) | async ) as status">
                <span>{{status}}</span>
            </ng-container>
        </div>
    </div>
    <div class="dialog-content-field">
        <mat-label for="">{{'scheduledStartTime' | translate}}</mat-label>:
        <div class="field-value">
            {{data.scheduledStartTime | timepipe: false}}
        </div>
    </div>
    <div class="dialog-content-field">
        <mat-label for="">{{'actualStartTime' | translate}}</mat-label>:
        <div class="field-value">
            {{data.actualStartTime | timepipe: false}}
        </div>
    </div>
    <div class="dialog-content-field">
        <mat-label for="">{{'actualEndTime' | translate}}</mat-label>:
        <div class="field-value">
            {{data.actualEndTime | timepipe: false}}
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{'cancel' | translate}}</button>
</div>