/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.custom-popover {
    ion-radio {
        --color-checked: var(--ion-color-secondary);
    }
}

.mat-step-header .mat-step-icon-state-done{
    background-color: #C6D92D !important;
}

.mat-step-header .mat-step-icon-selected{
    background-color: #29C0F1 !important;
    color: White;
  }

.mat-step-header .mat-step-icon {
      color:  white;
      background-color: #5B6771;
  }

  .mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: transparent;
}

  ion-tab-button {
    --background-focused: #29C0F1;
    --color-selected: #29C0F1;
}

.mat-step-optional, .mat-step-sub-label-error {
  font-weight: 400 !important;
  font-size: 15px !important;
}

.mat-step-label, .mat-step-label-selected {
  font-size: 19px !important;
  margin-left: 6px;
  font-weight: 500 !important;
}

.mat-step-icon {
  border-radius: 50% !important;
  height: 41px !important;
  width: 41px !important;
  flex-shrink: 0;
  position: relative !important;
}

.mat-stepper-horizontal-line,  .mat-stepper-vertical-line{
  margin-left: 44px !important;
}

.font-size {
  font-size: 15px !important;
  font-weight: 375 !important;
}

.mat-vertical-stepper-header {
  height:auto !important;
}

.mat-vertical-stepper-header {
  padding: 24px 24px 0px 24px;
}

/* Define your dark and light theme styles here */
[data-theme="dark"] {
  /* Dark theme styles */
  --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #f3f3f3;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
}

[data-theme="light"] {
  /* Light theme styles */
  --ion-background-color: #FFFFFF !important;;
    --ion-background-color-rgb: 255,255,255 !important;;

    --ion-text-color: #121212 !important;;
    --ion-text-color-rgb: 18,18,18 !important;;

    --ion-border-color: #eee6e6 !important;;
    
    --ion-color-step-50: #f3f3f3 !important;;
    --ion-color-step-100: #e7e7e7 !important;;
    --ion-color-step-150: #dbdbdb !important;;
    --ion-color-step-200: #d0d0d0 !important;;
    --ion-color-step-250: #c4c4c4 !important;;
    --ion-color-step-300: #b8b8b8 !important;;
    --ion-color-step-350: #acacac !important;;
    --ion-color-step-400: #a0a0a0 !important;;
    --ion-color-step-450: #949494 !important;;
    --ion-color-step-500: #898989 !important;;
    --ion-color-step-550: #7d7d7d !important;;
    --ion-color-step-600: #1e1e1e !important;;
    --ion-color-step-650: #656565 !important;;
    --ion-color-step-700: #595959 !important;;
    --ion-color-step-750: #4d4d4d !important;;
    --ion-color-step-800: #414141 !important;;
    --ion-color-step-850: #363636 !important;;
    --ion-color-step-900: #2a2a2a !important;;
    --ion-color-step-950: #1e1e1e !important;;

    --ion-item-background: #fcfcfc !important;;

    --ion-toolbar-background: #f3f3f3 !important;;

    --ion-tab-bar-background: #f3f3f3 !important;;

    --ion-card-background: #f3f3f3 !important;;
}
