<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header>
  <ion-toolbar style="--background: #455a64;">
    <ion-title *ngIf="selectedDevice$ | async as selectedDevice">{{selectedDevice.alias}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #e4eff1;">
  <mat-stepper *ngIf="selectedDevice$ | async as selectedDevice" orientation="vertical" #stepper linear>
    <ng-container *ngFor="let signal of selectedDevice.signals">
      <mat-step *ngIf="signal.name === 'MACHINE_STATUS'" [completed]="signal.value > '40' ? true : false">
        <!--  -->
        <!-- <p>Signal Value is: {{signal.value}}</p> -->
        <ng-template matStepLabel>{{'PreheatSystem' | translate}}<br>
          <span class="font-size" *ngIf="signal.value >= '30' ? true : false">{{chamberStatus[signal.value] ?? "-" |
            translate}}<br>
            <ng-container *ngFor="let signal of selectedDevice.signals">
              <span class="font-size" *ngIf="signal.name === 'TT100_PV'"> {{'PrimChamber' | translate}}:
                {{signal.value}}°C <br></span>
              <span class="font-size" *ngIf="signal.name === 'TT101_PV'"> {{'SecChamber' | translate}}:
                {{signal.value}}°C </span>
            </ng-container>
          </span>
        </ng-template>

        <!-- segment -->
        <ng-container *ngIf="signal.value == '40' ? true : false">
          <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button *ngFor="let s of burnModeKeys;" value="{{s}}">
              <ion-label>{{burnMode[s]}}</ion-label>
            </ion-segment-button>
          </ion-segment>
          <ion-button expand="block" (click)="startPreheat(selectedDevice)" class="btnsuccess">
            <!-- <ion-icon slot="end" name="arrow-forward" color="light"></ion-icon> -->
            {{'StartPreheat' | translate}}
          </ion-button>
        </ng-container>

        <ng-container *ngIf="signal.value < '30' && signal.value >= '20' ? true : false">
          <ion-card>
            <ion-item>
              <ion-label>{{'PreheatInProgress' | translate}}...</ion-label>
            </ion-item>
            <ion-card-content>
              <ion-label *ngFor="let signal of selectedDevice.signals">
                <p *ngIf="signal.name === 'CR_1_TT100_PV'"> {{'PrimChamber' | translate}}: {{signal.value}}°C </p>
                <p *ngIf="signal.name === 'CR_1_TT101_PV'"> {{'SecChamber' | translate}}: {{signal.value}}°C </p>
              </ion-label>
            </ion-card-content>
            <ion-card-content>
              {{'Remaining' | translate}} {{preheatTime}} min
            </ion-card-content>
          </ion-card>
          <p>
            <ion-button expand="block" (click)="stopPreheat(selectedDevice)" color="danger">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              {{'StopPreheat' | translate}}
            </ion-button>
          </p>
        </ng-container>
      </mat-step>
    </ng-container>

    <mat-step [completed]="isCaseSelected" *ngIf="selectedFacility$ | async as selectedFacility" optional>
      <ng-container *ngIf="!isCaseSelected">
        <ng-template matStepLabel>{{'Case' | translate}}</ng-template>
        <ion-button expand="block" (click)="presentCasesModal(selectedFacility.id)">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          {{'SelectCase' | translate}}
        </ion-button>
      </ng-container>
      <ng-container *ngIf="selectedCase$ | async as selectedCase">
        <ng-template matStepLabel>{{'Case' | translate}}</ng-template>
        <p>
          <ion-button expand="block" *ngIf="isCaseSelected" (click)="changeCase(selectedFacility.id)">
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
            {{'ChangeCase' | translate}}
          </ion-button>
          <ion-button expand="block" type="button" (click)="goToNextStep(stepper)"
            class="btnsuccess">Continue</ion-button>
        </p>
      </ng-container>
    </mat-step>

    <ng-container *ngFor="let signal of selectedDevice.signals">
      <mat-step *ngIf="signal.name === 'MACHINE_STATUS'" [completed]="signal.value >= '100' ? true : false">
        <!--  -->
        <ng-template matStepLabel>{{'StartCycle' | translate}}<br>
          <span class="font-size" *ngIf="signal.value >= '100' ? true : false">{{chamberStatus[100] ?? "-" |
            translate}}</span>
        </ng-template>
        <ng-container *ngIf="signal.value < '80' ? true : false">
          <p>
            <ion-button expand="block" (click)="startCycle(selectedDevice)" class="btnsuccess">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              {{'StartCycle' | translate}}
            </ion-button>
          </p>
        </ng-container>
        <ng-container *ngIf="signal.value >= '80' ? true : false">
          <ion-card>
            <!-- <ion-item *ngFor="let signal of selectedDevice.signals">
          <ion-label *ngIf="signal.value === '80' ? true : false">{{chamberStatus[80] ?? "-" | translate}}...</ion-label>
          <ion-label *ngIf="signal.value >= '90' ? true : false">{{chamberStatus[90] ?? "-" | translate}}...</ion-label>
        </ion-item> -->
            <ion-card-content>
              <ion-label>
                <p>{{'StartTime' | translate}}: {{startTime}} </p>
                <p>{{'ProcessMode' | translate}}: {{burnMode[selectedBurnMode] ?? "-" | translate}}</p>
              </ion-label>
            </ion-card-content>
            <ion-card-content>
              {{'Remaining' | translate}} : {{cremationTime}}min
            </ion-card-content>
          </ion-card>

          <p>
            <ion-button *ngIf="signal.value < '80'" expand="block" (click)="pauseCycle(selectedDevice)">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              {{'PauseCycle' | translate}}
            </ion-button>
            <ion-button *ngIf="signal.value < '85'" expand="block" (click)="resumeCycle(selectedDevice)"
              color="secondary">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              {{'ResumeCycle' | translate}}
            </ion-button>
            <ion-button expand="block" id="trigger-button" (click)="presentPopover('event$', selectedDevice)"
              color="tertiary">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              {{'ExtendCycle' | translate}}
            </ion-button>
            <ion-button expand="block" (click)="endCycle(stepper, selectedDevice)" color="danger">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              {{'EndCycle' | translate}}
            </ion-button>
          </p>
        </ng-container>
      </mat-step>
    </ng-container>
    <mat-step [completed]="isCoolDownStarted && isRakeOutStarted">
      <ng-container *ngIf="!isCoolDownStarted">
        <ng-template matStepLabel>{{'CompleteCycle' | translate}}</ng-template>
        <ion-button expand="block" (click)="coolDown(selectedDevice)" color="tertiary">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          {{'CoolDown' | translate}}
        </ion-button>
        <ion-button expand="block" (click)="rakeOut(selectedDevice)">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          {{'RakeOut' | translate}}
        </ion-button>
      </ng-container>
      <ng-container *ngIf="isCoolDownStarted && !isRakeOutStarted">
        <ng-template matStepLabel>{{'CompleteCycle' | translate}}</ng-template>
        <ion-card>
          <ion-item>
            <ion-label>{{'CoolingInProgress' | translate}}...</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-label *ngFor="let signal of selectedDevice.signals">
              <p *ngIf="signal.name === 'CR_1_TT100_PV'"> {{'PrimChamber' | translate}}: {{signal.value}}°C </p>
              <p *ngIf="signal.name === 'CR_1_TT101_PV'"> {{'SecChamber' | translate}}: {{signal.value}}°C </p>
            </ion-label>
          </ion-card-content>
          <ion-card-content>
            {{'Remaining' | translate}} 10 min
          </ion-card-content>
        </ion-card>
        <p>
          <ion-button expand="block" (click)="rakeOut(selectedDevice)">
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
            {{'RakeOut' | translate}}
          </ion-button>
        </p>
      </ng-container>
      <ng-container *ngIf="isCoolDownStarted && isRakeOutStarted">
        <ng-template matStepLabel>{{'CompleteCycle' | translate}}</ng-template>
        <ion-card>
          <ion-item>
            <ion-label>{{'CooledDown' | translate}}</ion-label>
          </ion-item>
          <ion-card-content>
            {{'ElaspedTime' | translate}}: 10 min
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label>{{'RakeOutInProgress' | translate}}...</ion-label>
          </ion-item>
        </ion-card>
        <p>
          <ion-button expand="block" (click)="rakeOutConfirmation(stepper, selectedDevice)" color="secondary">
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
            {{'ConfirmRakeOutIsFinished' | translate}}.
          </ion-button>
        </p>
      </ng-container>
    </mat-step>
  </mat-stepper>
</ion-content>