.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

ion-segment {
  --background: #cbe5c0;
  font-size: 1rem;
}

// ion-segment-button {
//   --indicator-color: #2dd36f;
//   min-width: auto;
//   font-size: small;
// }

ion-segment-button {
  --indicator-color: #013220;
  font-size: small;
}

/* Material Design styles */
ion-segment-button.md {
  --color: #000;
  --color-checked: #013220;
  --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {
  --color: #013220;
  --color-checked: #fff;
  --border-radius: 20px;
}

.btnsuccess {
  --background: #00b050;
}

.btnbackward {
  --background: #7f7f7f;
}

.btnother {
  --background: #f2f4f5;
  color: black;
  margin-inline: 0;
}

.btnsuccessinline {
  --background:#00b050;
  margin-inline: 0;
  width: 100%;
}

.btnbackwardinline {
  --background: #7f7f7f;
  margin-inline: 0;
  width: 100%;
}

.btndanger {
  --background: #eb445a;
  margin-inline: 0;
}

.container {
  background-color: #e4eff1;
}

ion-footer{
  background-color: #e4eff1;
}

.action-buttons {
  margin: 0px; 
  --border-radius: 0px;
  --background:#013220;
}

.footer-text {
  color: black;
}

.footer-content{
  margin: 6px;
  border: 2px gray;
  border-style: solid;
  height: 250px;
  position: relative;
  text-align: center;
}

.actions {
  width:325px;
  position: absolute;
  bottom: 0;
  left: 0;
  left:50%;
  Transform: translate(-50%, 0%);
}

.inline {
  display: inline-block;
  width: 158px;
  --background: #f2f4f5;
  color: black;
}

.btnchangecase {
  --background: #cbe5c0;
  color: black;
}

.completed {
  font-size: 15px !important;
  font-weight: 375 !important;
  color: gray;
}

.grayHeading {
  color: gray;
  font-size: 18px !important;
}

.blackHeading {
  color: black;
  font-size: 18px !important;
}

.button-container {
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: space-between; /* Distribute space between the buttons */
  align-items: center; /* Align items vertically in the center */
  gap: 1px; /* Add a 1-pixel gap between the buttons */
}


// ::ng-deep .mat-step-icon-content span {
//   display: none;
// }

::ng-deep .cdk-visually-hidden {
  display: none;
}

.clickable-step {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}



// :host ::ng-deep .mat-vertical-content-container {
//   pointer-events:none;
// }

