<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ng-container *ngIf="selectedDevice$ | async as selectedDevice">
  <ion-header>
    <ion-toolbar style="--background: #455a64" color="medium">
      <ion-title>{{selectedDevice.alias}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="primary">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content style="--background: #e4eff1">
    <mat-stepper orientation="vertical" #stepper linear selectedIndex="">
      <ng-container *ngFor="let signal of selectedDevice.signals">
        <mat-step *ngIf="signal.name === 'MACHINE_STATUS'"
          [completed]="parseSignalValue(signal.value) >= 40">
          <ng-template matStepLabel>
            <div class="clickable-step" (click)="moveToZero()">
              <span [ngClass]="parseSignalValue(signal.value) >= 40 ? 'grayHeading' : 'blackHeading'">
                {{ 'Prepare System' }}<br />
              </span>
              <span class="font-size" *ngIf="parseSignalValue(signal.value) === 0">
                {{ 'Ready to Preheat' }}
              </span>
              <span class="font-size" *ngIf="parseSignalValue(signal.value) === 5">
                {{ 'Ready to Charge' }}
              </span>
              <span class="font-size" *ngIf="parseSignalValue(signal.value) === 10 || parseSignalValue(signal.value) === 20">
                {{ 'Preparing to Preheat' }}
              </span>
              <span class="font-size"
                *ngIf="parseSignalValue(signal.value) === 30">
                {{ 'Preheat in Progress' }}
              </span>
              <span class="completed" *ngIf="parseSignalValue(signal.value) >= 40">
                {{ 'Preheat Complete' }}
              </span><br>
              <span class="completed">
                Selected mode: {{ burnMode[selectedBurnMode] ?? "-" | translate }}<br />
              </span>
            </div>
          </ng-template>
        </mat-step>
      </ng-container>

      <ng-container *ngFor="let signal of selectedDevice.signals">
        <mat-step *ngIf="signal.name === 'MACHINE_STATUS'"
          [completed]="isCaseSelected || parseSignalValue(signal.value) >= 50">
          <ng-container *ngIf="selectedFacility$ | async as selectedFacility" optional>
            <ng-template matStepLabel>
              <div class="clickable-step" (click)="moveToFirst(parseSignalValue(signal.value))">
                <span
                  [ngClass]="parseSignalValue(signal.value) >= 50 || parseSignalValue(signal.value) < 40 ? 'grayHeading' : 'blackHeading'">
                  {{ 'Select Case' }}<br />
                </span>
                <span class="font-size" *ngIf="!isCaseSelected && parseSignalValue(signal.value) < 50">
                  No Case Selected
                </span>
                <span class="completed" *ngIf="!isCaseSelected && parseSignalValue(signal.value) >= 50">
                  No Case Selected
                </span>
                <span class="font-size" *ngIf="isCaseSelected && parseSignalValue(signal.value) < 50">
                  {{ case.firstName + ' ' + case.lastName }}<br />
                  {{ 'Case ID: ' + clientCaseId }}
                </span>
                <span class="completed" *ngIf="isCaseSelected && parseSignalValue(signal.value) >= 50">
                  {{ case.firstName + ' ' + case.lastName }}<br />
                  {{ 'Case ID: ' + clientCaseId }}
                </span>
              </div>
            </ng-template>
          </ng-container>
        </mat-step>

      </ng-container>

      <ng-container *ngFor="let signal of selectedDevice.signals">
        <mat-step *ngIf="signal.name === 'MACHINE_STATUS'" [completed]="parseSignalValue(signal.value) >= 110">
          <ng-template matStepLabel>
            <div class="clickable-step" (click)="moveToSecond(parseSignalValue(signal.value))">
              <span
                [ngClass]="parseSignalValue(signal.value) >= 110 || parseSignalValue(signal.value) < 50 ? 'grayHeading' : 'blackHeading'">
                {{ 'StartCycle' | translate }}<br />
              </span>
              <span class="font-size" *ngIf="parseSignalValue(signal.value) <= 80">
                {{ chamberStatus[signal.value] | camelCase }}
              </span>
              <span class="font-size"
                *ngIf="(parseSignalValue(signal.value) > 80 && parseSignalValue(signal.value) <= 90) || parseSignalValue(signal.value) === 100 || parseSignalValue(signal.value) == 105">
                {{ 'Cremation in Progress' }}
              </span>
              <span class="font-size"
                *ngIf="parseSignalValue(signal.value) === 95">
                {{ 'Cremation Cycle Paused' }}
              </span>
              <span class="completed" *ngIf="parseSignalValue(signal.value) >= 110">
                {{ 'Cremation Completed'}}
              </span>
            </div>
          </ng-template>
        </mat-step>
      </ng-container>

      <ng-container *ngFor="let signal of selectedDevice.signals">
        <mat-step *ngIf="signal.name === 'MACHINE_STATUS'" [completed]="isRakeOutStarted">
          <ng-template matStepLabel>
            <div class="clickable-step" (click)="moveToThird(parseSignalValue(signal.value))">
              <span [ngClass]="parseSignalValue(signal.value) < 100 ? 'grayHeading' : 'blackHeading'">
                {{ 'Complete Process' }}<br />
              </span>
              <span class="font-size" *ngIf="parseSignalValue(signal.value) === 110">
                {{ 'Cooling in Progress' }}
              </span>
              <span class="font-size" *ngIf="parseSignalValue(signal.value) === 120">
                {{ 'Ready to Rake-out' }}
              </span>
              <span class="font-size" *ngIf="parseSignalValue(signal.value) === 130">
                {{ 'Raking in Progress' }}
              </span>
            </div>
          </ng-template>
        </mat-step>
      </ng-container>

    </mat-stepper>
  </ion-content>

  <!-- ************************************************************************************************************************** -->

  <ion-footer class="ion-no-border">
    <ng-container *ngIf="stepNumber == 0">
      <div class="footer-content">
        <ng-container *ngFor="let signal of selectedDevice.signals; trackBy:trackItems">
          <ng-container *ngIf="signal.name === 'MACHINE_STATUS'">
            <!-- segment -->
            <ng-container *ngIf="parseSignalValue(signal.value) == 0  ? true : false">
              <div class="wrapper">
                <span class="footer-text"><b>Prepare System</b><br /></span>
                <span class="footer-text">Choose Operating Mode<br /></span>
                <span class="footer-text">Press START to continue</span>
              </div>
              <div class="actions">
                <ion-segment [(ngModel)]="selectedBurnMode" (ionChange)="segmentChanged($event, selectedDevice)">
                  <ion-segment-button *ngFor="let s of burnModeKeys;" value="{{s}}">
                    <ion-label>{{burnMode[s]}}</ion-label>
                  </ion-segment-button>
                </ion-segment>   
                  <ion-button expand="block" (click)="startPreheat(selectedDevice)" class="btnsuccessinline">
                    {{ 'StartPreheat' | translate }}
                  </ion-button>              
              </div>
            </ng-container>

            <ng-container
              *ngIf="parseSignalValue(signal.value) <= 30 && parseSignalValue(signal.value) >= 10 ? true : false && stepNumber == 0">
              <div class="wrapper">
                <span class="footer-text"><b>Prepare System</b><br /></span>
                <span class="footer-text">
                  {{ parseSignalValue(signal.value) === 30 ? 'Preheat in Progress' : 'Preparing to Preheat' }}
                  <br />
                </span>
                <!-- <ng-container *ngFor="let signal of selectedDevice.signals"> -->
                <span class="footer-text">
                  {{'PrimChamber' | translate}}: {{signalTt100}}°F <br /></span>
                <span class="footer-text">
                  {{'SecChamber' | translate}}: {{signalTt101}}°F <br /></span>
                <!-- </ng-container> -->
                <span class="footer-text">{{"Selected Mode: "}}{{burnMode[selectedBurnMode] ?? "-" |
                  translate}}</span>
              </div>

              <div class="actions">
                <div class="button-container">
                  <ion-button (click)="stopPreheat(selectedDevice)" class="btnbackwardinline">
                    {{'StopPreheat' | translate}}
                  </ion-button>
                  <ion-button class="btnbackwardinline" (click)="systemShutdown(stepper, selectedDevice)">
                    Shutdown
                  </ion-button>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="parseSignalValue(signal.value) > 30 ? true : false && stepNumber == 0">
              <div class="wrapper">
                <span class="footer-text"><b>Prepare System</b><br /></span>
                <span class="footer-text">Preheat Complete<br /></span>
                <!-- <ng-container *ngFor="let signal of selectedDevice.signals"> -->
                <span class="footer-text">
                  {{'PrimChamber' | translate}}: {{signalTt100}}°F <br /></span>
                <span class="footer-text">
                  {{'SecChamber' | translate}}: {{signalTt101}}°F <br /></span>
                <!-- </ng-container> -->
                <span class="footer-text">{{"Selected Mode: "}}{{burnMode[selectedBurnMode] ?? "-" |
                  translate}}</span>
              </div>
            </ng-container>

          </ng-container>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="stepNumber == 1">
      <div class="footer-content">
        <ng-container *ngFor="let signal of selectedDevice.signals; trackBy:trackItems">
          <ng-container *ngIf="signal.name === 'MACHINE_STATUS'">
            <ng-container *ngIf="selectedFacility$ | async as selectedFacility" optional>
              <ng-container *ngIf="!isCaseSelected && stepNumber == 1 && parseSignalValue(signal.value) != 45">
                <div class="wrapper">
                  <span class="footer-text"><b>Select Case</b><br /></span>
                  <span class="footer-text">Choose or Enter Case Info<br /></span>
                </div>
                <!-- <div class="actions">
        <ion-button expand="block" (click)="presentCasesModal(selectedFacility.id)">
          Choose from schedule
        </ion-button>
      </div> -->
                <div class="actions">
                  <ion-button class="inline" (click)="presentModalFromProcess(deviceId)">
                    Enter Case Info
                  </ion-button>
                  <ion-button class="inline" (click)="presentCasesModal(deviceId)">
                    SELECT CASE
                  </ion-button>
                  <ion-button expand="block" class="btnsuccess" (click)="autoSelectNextCase(deviceId)">
                    AUTO SELECT NEXT IN SCHEDULE
                  </ion-button>
                  <ion-button expand="block" class="btnbackward" (click)="systemShutdown(stepper, selectedDevice)">
                    System Shutdown
                  </ion-button>
                </div>
              </ng-container>
              <ng-container *ngIf="isCaseSelected && stepNumber == 1 && parseSignalValue(signal.value) != 45">
                <div class="wrapper">
                  <span class="footer-text"><b>Select Case</b><br /></span>
                  <span class="footer-text">{{case.lastName}}, {{case.firstName}}<br /></span>
                  <span class="footer-text">ID: {{clientCaseId}}<br /></span>
                  <span class="footer-text">Gender: {{case.genderText}} - Weight: {{case.weight}}kg<br /></span>
                  <span class="footer-text">Container: {{case.containerTypeText}}<br /></span>
                  <span class="footer-text">Scheduled: {{case.scheduledStartTime | date: 'MM/dd/yyyy - hh:mm a'}}<br /></span>
                </div>
                <div class="actions">
                  <ion-button expand="block" *ngIf="isCaseSelected && parseSignalValue(signal.value) < 80"
                    (click)="clearSelectedCase();" class="btnbackward">
                    CLEAR SELECTED CASE
                  </ion-button>
                </div>
              </ng-container>
              <ng-container *ngIf="parseSignalValue(signal.value) === 45">
                <div class="wrapper">
                  <span class="footer-text"><b>Cremation Cycle</b><br /></span>
                  <span class="footer-text">Preparing to Load<br /></span>
                  <span class="footer-text">
                    Primary Chamber: {{signalTt100}}°F <br /></span>
                  <span class="footer-text">
                    Secondary Chamber: {{signalTt101}}°F <br /></span>
                  <span class="footer-text">Selected mode: {{burnMode[selectedBurnMode] ?? "-" |
                    translate}}<br /></span>
                </div>
                <div class="actions">
                  <ion-button expand="block" class="btnsuccess"
                    [disabled]=true>
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                    USE CREMATOR CONSOLE TO CONTINUE
                  </ion-button>
                  <ion-button expand="block"
                      (click)="clearSelectedCase();" class="btnbackward">
                      CANCEL AND CLEAR SELECTED CASE
                    </ion-button>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="stepNumber == 2">
      <div class="footer-content">
        <ng-container *ngFor="let signal of selectedDevice.signals; trackBy:trackItems">
          <ng-container *ngIf="signal.name === 'MACHINE_STATUS'">
            <ng-container *ngIf="parseSignalValue(signal.value) < 80 && stepNumber == 2">
              <div class="wrapper">
                <span class="footer-text"><b>Cremation Cycle</b><br /></span>
                <span class="footer-text" *ngIf="parseSignalValue(signal.value) == 50">Ready to Load<br /></span>
                <span class="footer-text" *ngIf="parseSignalValue(signal.value) != 50">Ready to load<br /></span>
                <span class="footer-text">Selected mode: {{burnMode[selectedBurnMode] ?? "-" |
                  translate}}<br /></span>
              </div>
              <div class="actions">
                <!-- <ion-button expand="block" (click)="startCycle(selectedDevice)" class="btnsuccess"
                  [disabled]="parseSignalValue(signal.value) < 60">
                  <ion-icon slot="end" name="arrow-forward"></ion-icon>
                  {{'StartCycle' | translate}}
                </ion-button> -->
                <ion-button *ngIf="parseSignalValue(signal.value) == 50 || parseSignalValue(signal.value) == 60" expand="block" class="btnsuccess"
                  [disabled]=true>
                  <ion-icon slot="end" name="arrow-forward"></ion-icon>
                  USE CREMATOR CONSOLE TO CONTINUE
                </ion-button>
                <ion-button expand="block" *ngIf="parseSignalValue(signal.value) == 50"
                    (click)="clearSelectedCase();" class="btnbackward">
                    CANCEL AND CLEAR SELECTED CASE
                  </ion-button>
              </div>
            </ng-container>
            <ng-container *ngIf="parseSignalValue(signal.value) >= 80 && stepNumber == 2">
              <div class="wrapper">
                <span class="footer-text"><b>Cremation Cycle</b><br /></span>
                <span *ngIf="parseSignalValue(signal.value) == 90 || parseSignalValue(signal.value) == 100 || parseSignalValue(signal.value) == 105" class="footer-text">Cremation in
                  Progress<br /></span>
                <span *ngIf="parseSignalValue(signal.value) == 80" class="footer-text">Waiting for Charge Door to
                  Close<br /></span>
                <!-- <span *ngIf="parseSignalValue(signal.value) != 80" class="footer-text">Elapsed time: {{cremationTime}} min<br /></span> -->
                <span class="footer-text">Remaining time: {{remainingTime}} min<br /></span>
                <!-- <ng-container *ngFor="let signal of selectedDevice.signals; trackBy:trackItems"> -->
                <span class="footer-text">
                  {{'PrimChamber' | translate}}: {{signalTt100}}°F<br /></span>
                <span class="footer-text">
                  {{'SecChamber' | translate}}: {{signalTt101}}°F <br /></span>
                <!-- </ng-container> -->
                <span class="footer-text">Selected mode: {{burnMode[selectedBurnMode] ?? "-" |
                  translate}}<br /></span>
              </div>
              <div class="actions">
                <ion-button class="inline" *ngIf="parseSignalValue(signal.value) == 90 || parseSignalValue(signal.value) == 100"
                  (click)="pauseCycle(selectedDevice)">
                  Pause
                </ion-button>
                <ion-button class="inline" *ngIf="parseSignalValue(signal.value) === 95 || parseSignalValue(signal.value) === 105"
                  (click)="resumeCycle(selectedDevice)">
                  Resume
                </ion-button>
                <ion-button class="inline" *ngIf="parseSignalValue(signal.value) <= 105 && parseSignalValue(signal.value) >= 90" id="trigger-button"
                  (click)="presentPopover('event$', selectedDevice)">
                  Extend
                </ion-button>
                <ion-button expand="block" (click)="endCycle(stepper, selectedDevice)" class="btnbackward">
                  {{'EndCycle' | translate}}
                </ion-button>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="stepNumber == 3">
      <div class="footer-content">
        <ng-container *ngFor="let signal of selectedDevice.signals; trackBy:trackItems">
          <ng-container *ngIf="signal.name === 'MACHINE_STATUS'">
            <ng-container *ngIf="parseSignalValue(signal.value) >= 110 || parseSignalValue(signal.value) <= 130 && stepNumber == 3">
              <div class="wrapper">
                <span class="footer-text"><b>Complete Process</b><br /></span>
                <!-- <ng-container *ngFor="let signal of selectedDevice.signals; trackBy:trackItems"> -->
                <span class="footer-text">
                  {{'PrimChamber' | translate}}: {{signalTt100}}°F <br /></span>
                <span class="footer-text">
                  {{'SecChamber' | translate}}: {{signalTt101}}°F <br /></span>
                <!-- </ng-container> -->
              </div>
              <div class="actions">
                <ion-button class="inline"
                (click)="systemRestart(selectedDevice)">
                  Restart <br/>
                  Cremation
                </ion-button>
                <ion-button class="inline"
                  (click)="systemShutdown(stepper, selectedDevice)">
                  Shutdown
                </ion-button>
                <ion-button *ngIf="parseSignalValue(signal.value) === 110" expand="block" class="btnbackward" (click)="skipCooldown(stepper, selectedDevice)">
                  <ion-icon slot="end" name="arrow-forward"></ion-icon>
                  {{'SKIP COOLING, RAKE NOW'}}
                </ion-button>
                <ion-button *ngIf="parseSignalValue(signal.value) === 135" expand="block" class="btnsuccess" (click)="rakeOut(selectedDevice)">
                  RAKE NOW
                </ion-button>
                <!-- <ion-button *ngIf="parseSignalValue(signal.value) === 130" expand="block" class="btnsuccess" (click)="rakeOutConfirmation(stepper, selectedDevice)">
                  {{'Start New Process'}}
                </ion-button> -->
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </ion-footer>
</ng-container>